*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}   
body{
  background-color:#2BCEF0;
}
.navbar {
  min-height: 50px;
  font-size: 25px;
}
.topnav-right {
  float: right;
}
.h1{
  margin-top:0px;
  margin-left: 20px;
  font-size: 35px;
  text-shadow:1px 1px rgb(235, 12, 79); 
  color:mediumspringgreen;
  letter-spacing: 1px;
  word-spacing: 1px;
}

#h3{
  color: black;
}
.bg-company-red {
  background-color: rgb(9, 55, 204) !important;
}
.nav-item a:hover {
  cursor: pointer;
  background-color: coral;
}
.navbar-nav a:hover{
  background-color: coral;
}

/*
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
*/
a{

  color:ghostwhite;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
}
.right{
  margin-right: 30px;
  text-align: right;
  float: right;
}
